*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
nav{
 
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    
   
}
nav ul li{
padding: 10px;
display: inline-block;

}
.logo{
padding: 5px;
display: flex;
color: rgba(154, 0, 0, 0.689);
font-size: xx-large;
font-weight: bold;
position: relative;
left: 20px;
font-family: cursive;
}
a{
color: rgb(0, 0, 0);
font-size: 20px;
position: relative;
right: 20px;
}

a:hover{
border-bottom: solid 2px rgb(255, 136, 0);
padding: 7px;
font-size: large;


}
.logo:hover{
border-bottom: 4px inset red;
padding: 7px;
font-size: 25px;
padding-left:20px;
position: relative;
left: 20px;

}

@media screen and (max-width: 476px) {
  nav {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  .logo {
    margin-bottom: 10px; 
  }

  nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
  }

  nav ul li {
    padding: 10px;
   justify-content: center;
    
   
  }

a:hover{
border-bottom: solid 2px rgb(255, 136, 0);
padding: -7px;
font-size: small;
position: relative;
left: 20px;
}
.io{
width: 100px;
}
.ito{
  width: 100px;
  }
  .it{
    width: 100px;
    margin-right: -300px;
  }
  .pizza{
    
width: 250px;
 height:250px;
 
margin-left: 30px;
margin-bottom: 150px;

}

}